*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero_section{
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 16px 48px;
}